/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #FFFFF0;
  --color-text-main: #4D1F00;
  --color-text-header: #4D1F00;
  --color-primary: #fffff0;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  
  --font-family: "Coming Soon";
  --font-family-header: "Coming Soon";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Navigation grid */

.titleArea{
  
  background-color: #FFFFF0;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0px;
  text-align: center;
}



.nav {
  font-family: "Coming Soon";
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  display: flex; /* Make it horizontal */
  gap: 30px; /* Space between items (optional) */
  justify-content: center;
  text-align: center;
}

.nav li a {
  text-decoration: none;
  padding: 0;
  display: block;
  color: black;
  background-color: none;
  border-radius: 5px;
}

.nav li a:hover {
  background-color: none;
  
}



.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {  
  font-family: "Coming Soon";
  background-color: var(--color-bg);
  margin: 0;
  transition: background-color 0.5s;
}

/* Page structure */
.wrapper {
  background-color: #FFFFF4;
  padding-left: 20px;
  text-align: center;
  transition: background-color 0.5s ease; /* smooth 1 second transition */

  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 0rem;
}



/* When screen is 600px or smaller (mobile) */
@media (max-width: 600px) {
  
  .nav {
  
  display: none; 
  }

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: var(--color-text-header);
  font-family: "Coming Soon";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 105%;
  margin: 0;
  margin-top: 20px;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}
.section {
  height: 100vh; /* full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.introduce {
   max-width: 800px;         /* Set the max width of the paragraph */
  margin: 0 auto;           /* Center horizontally */
  padding: 0 20px;          /* Optional: small padding left & right */
  font-family: "Coming Soon", cursive;
  text-align: center;       /* Optional: center the text */
}

/* Instructions */
.instructions {
  font-size: 10px;
  margin: 1rem auto 0;
  text-align: center;   
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
}
.Journey_section {
  text-align: center;
  margin-bottom: 20px;
}
.glight_section {
  text-align: center;
  margin-bottom: 20px;
}
.other_section {
  text-align: center;
  margin-bottom: 20px;
}



.Journey_video_layout {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the whole block horizontally */
  gap: 0px; /* Space between left and right */
  padding: 20px;
}

.Journey_left_video video {
  width: 100%;
  height: auto;
  max-width: 645px; /* Big video size */
}
/* right -> down */

.Journey_right_video {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px; /* Space between top and bottom videos */
  width: 100%;
  max-width: 645px; /* Match big video width */
}

.Journey_right_video video {
  width: 320px;
  height: auto;
}
.glight_layout {
  display: flex;
  flex-direction: column;
  width: 50%;  /* Adjust the width as needed */
 
  max-width: 100%; /* Prevent the video from becoming too large on small screens */
  margin: 0 auto;
  align-items: center; /* Center the whole block horizontally */
  gap: 0px; /* Space between left and right */
  padding: 20px;
}
.glight_video  {
  width: 360px;
  height: auto;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-link:hover {
  background-color: deepskyblue;
}

/* Subheading */
h2 {
  color: var(--color-text-header);
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}


/* Links that open files in the editor */
.fileopener {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom: 3px solid var(--color-secondary);
}
